@import url('https://fonts.googleapis.com/css2?family=Fira+Mono&family=Open+Sans:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,300;1,400;1,500;1,600;1,700;1,800&display=swap');

/*-- scss:defaults --*/
  
  $link-color: #01364C	;
  $font-family-sans-serif: 'Open Sans', sans-serif;
$font-family-monospace: 'Fira Mono', monospace;

$presentation-title-slide-text-align: center;

$theme-darkblue: #01364C;
$theme-red: #de4949;
$theme-lightgreen: #ccf2c7;
$theme-white: #F7F8F9;
$theme-yellow: #F4BA02;
$theme-supervisor: #FFC06E;
$theme-orange: #fa520f;
$theme-green: #438029;
$theme-green2: #B2AD13;
$theme-brown: #616871;
$theme-blue: #185ADB;
$theme-glowgreen: #C8F526;
$theme-aqua: #49deaf;
$theme-purple: #6706A5;
$theme-grey: #adb3b1;
$theme-lightblue: #21a8b5;


// colors
$body-bg: #faf9f7 !default;

/*-- scss:rules --*/
  
  h1 {
    color: #F4BA02!important;
    font-size: 1em;
  }
  
  h2 {
    color: #C8F526	 !important;
    font-size: .7em;
  }
  
  
#title-slide {
  .title {
    font-size: 1.8em;
    color: #F4BA02 ;
    line-height: 90px;
  }

  .subtitle {
    font-size: .6em;
  }

  .quarto-title-author {
    color: #C8F526;
    line-height: 290px;
    font-size: 1.2em;
  }
  .quarto-title-affiliation {
    color: white;
    font-size: .5em;
  }
}

.orange {
  color: $theme-orange;
}

.grey {
  color: $theme-grey;
}
.glowgreen {
  color: $theme-glowgreen;
}

.aqua {
  color: $theme-aqua;
}

.supervisor {
  color: $theme-supervisor;
}

.darkblue {
  color: $theme-darkblue;
}

.lightblue {
  
  color: $theme-lightblue;
  
}

.brown {
  color: $theme-brown;
}

.blue {
  color: $theme-blue;
}

.yellow {
  color: $theme-yellow;
}

.red {
  color: $theme-red;
}

.lightgreen {
  color: $theme-lightgreen;
}

.white {
  color: $theme-white;
 
}

.green {
  color: $theme-green;
 
}

.green2 {
  color: $theme-green2;
 
}


.purple {
  color: $theme-purple;
 
}

.panel-tabset-tabby a {
  color: #fa520f;
}

.lineSpace {
    line-height:12px;
}

section.slide h2 {
  color: #C8F526 !important;
  background-color: black !important;
  width: 200vw;
  position: relative;
  left: -20vw;
  padding-left: 20vw;
  padding-bottom: 5px;
}


.center h4 {
  text-align: center;
}

.half-transparent {
  opacity: 0.5;
}
